<div aurelia-app="main">
    <div class="splash">
        <div class="message">Aurelia Navigation Skeleton</div>
        <div class="fa fa-spinner fa-spin"></div>
    </div>    
</div>

<script type="text/javascript" src="~/dist/vendor.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/dist/app.js" asp-append-version="true"></script>

<script src="~/js/canvg.js"></script>
<script src="~/js/Class.js"></script>
<script src="~/js/jquery-1.12.0.min.js"></script>
<script src="~/js/jquery-touch_punch.js"></script>
<script src="~/js/jquery.autoresize.js"></script>
<script src="~/js/jquery.contextmenu.js"></script>
<script src="~/js/json2.js"></script>
<script src="~/js/pathfinding-browser.min.js"></script>
<script src="~/js/raphael.js"></script>
<script src="~/js/rgbcolor.js"></script>
<script src="~/js/shifty.js"></script>
<script src="~/js/StackBlur.js"></script>
<script src="~/js/draw2d.js"></script>
<script src="~/js/Extensions/GGLLIntrusivePortsFeedbackPolicy.js"></script>
<script src="~/js/Extensions/GGLLDropInterceptorPolicy.js"></script>
<script src="~/js/Extensions/GGLLClickCanvas.js"></script>
<script src="~/js/Extensions/GGLLAlternativePort.js"></script>
<script src="~/js/Extensions/GGLLPort.js"></script>