<template>
    <button click.trigger="select(2)">Left-NTerminal</button>
    <button click.trigger="select(3)">NTerminal</button>
    <button click.trigger="select(4)">Terminal</button>
    <button click.trigger="select(5)">Lambda</button>
    <button click.trigger="select(1)">Start</button>
    <button click.trigger="select(0)">None</button>
    <button click.trigger="save()">Salvar</button>
    <button click.trigger="reset()">Reset</button>
    <div id="canvas" style="width:100%; height:100%"></div>
    

</template>
